/* mobile size -> 600px */
/* desktop/laptop size -> above 992px  */



@media screen and (max-width: 600px) {

    /* common css  */

    .title {
        font-size: 1.25rem;
    }

    /* header section  */
    .header-container {
        flex-direction: column;
    }

    .link-container {
        display: none;
    }

    .mobile-menu {
        display: block;
    }

    /* hero section  */

    .hero-container {
        gap: 2rem;
    }
    .hero-title {
        font-size: 1.3rem;
        font-weight: 800;
    }

    .hero-desc {
        font-size: 0.9rem;
    }

    .hero-input {
        flex-direction: column;
        gap: 1.5rem;
        width: calc(100% - 40px);
    }

    .hero-input .text-input, .select {
        width: 100%;
    }

    .hero-input .text-input input, .select select {
        width: 100%; 
    }
    .hero-btn, .hero-btn button {
        width: 100%;
    }


    /* tour section css  */
    .tour-container  {
        margin-top: 1.5rem;
        flex-direction: column;
        gap: 1.5rem;
    }

    .tour-content {
        gap: 1rem;
    }

    .tour-content, .tour-image {
        width: 100%;
    }

    .tour-content p, ul, li {
        font-size: 0.8rem;
    }




}